<div
  class="row"
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()"
>
  <div class="col-12 col-sm-6 col-md-4" *ngFor="let character of characters">
    <app-character [character]="character"></app-character>
  </div>
  <div
    class="col-12 col-sm-6 col-md-4 container-not-found"
    *ngIf="characters.length <= 0"
  >
    <p>No se encontraron resultados....</p>
  </div>
</div>
<button
  [ngClass]="'no-hidden'"
  *ngIf="showGoUpButton"
  class="btn btn-dark"
  (click)="OnScrollTop()"
>
  Ir arriba
</button>
