<div *ngIf="character$ | async as character">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-4">
      <app-character [character]="character" [details]="true"></app-character>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-dark btn-sm" (click)="OnBack()">Regresar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-sm-2 col-md-1" *ngFor="let epi of character.episode">
      <div class="card">
        <div class="card-inner">
          <div class="header">
            <a [href]="epi"
              ><h6>{{ epi | slice: 40:epi.length }}</h6></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
